* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
}

.container-login {
  display: block;
  margin: auto;
  border: 1px solid gainsboro;
  border-radius: 4px;
  padding: 10px;
}

.container-form{
    padding: 10px;
}

.inputs{
    display: flex;
    flex-direction: column;
    width: 400px;
}

.input-name, .input-senha{
    height: 30px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid gainsboro;
    padding: 4px;

}

.btn-login{
    width: 200px;
    height: 30px;
}

.title {
  text-align: center;
}

.title-login{
    margin-bottom: 20px;
}

.chamada-cadastro{
  display: flex;
  align-items: center;
}

.mensagem-cadastro{
    margin: 10px;
}

.link-cadastro{
    padding: 4px;
    color: green;
}

.img-login {
  height: 100vh;
  width: 100%;
}
